body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #f5f1e6, #e7dcc8);
}

.container {
    width: 300px;
    margin: 150px auto;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

a {
    text-decoration: none;
    color: #4facfe;
}